---

# project name, derived from parent folder, e.g. pmav
project_name: "{{ playbook_dir | dirname | basename }}"

# host name where site will be served, e.g. pmav.local
host_name: "{{ project_name }}.local"

# linux user who will own project files
user_name: "{{ ansible_env.SUDO_USER | default(ansible_env.USER, true) | default(ansible_user_id, true) }}"

# home path for project, e.g. /home/ubuntu
home_path: /home/{{ user_name }}

# project path, e.g. /home/ubuntu/project
project_path: "{{ home_path }}/{{ project_name }}"

# public path, e.g. /home/ubuntu/project/public
public_path: "{{ project_path }}/public"

# firewall config
firewall_allowed_tcp_ports:
  - "22"
  - "80"
  - "443"

# php config
php_version: "7.3" # this requires geerlingguy.php-versions
# php_default_version_debian: "7.2"
php_webserver_daemon: nginx
php_enable_php_fpm: true
php_date_timezone: "America/Los_Angeles"
php_error_reporting: "E_ALL"
php_display_errors: "Off"
php_expose_php: "Off"
php_memory_limit: "256M"
php_max_execution_time: "60"
php_packages_extra:
    - php7.3-soap
    - php7.3-mysqli
    - php7.3-ldap
    - php7.3-gmp
    - php7.3-memcache
    - php7.3-intl

# composer config
composer_keep_updated: true
composer_home_owner: "{{ user_name }}"
composer_home_group: "{{ user_name }}"

# nginx config
nginx_remove_default_vhost: true
nginx_vhosts:
  - listen: 80
    server_name: "{{ host_name }}"
    root: "{{ public_path }}"
    index: "index.php index.html"
    extra_parameters: |
      location ~ \.php$ {
          include snippets/fastcgi-php.conf;
          fastcgi_pass 127.0.0.1:9000;
      }
      location / {
          try_files $uri @php;
      }
      location @php {
          include fastcgi_params;
          fastcgi_param SCRIPT_FILENAME $document_root/index.php;
          fastcgi_param SCRIPT_NAME index.php;
          fastcgi_index index.php;
          fastcgi_pass 127.0.0.1:9000;
      }
